{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%"
          ]
        },
        "exclude": [
          "transform-regenerator",
          "transform-async-to-generator"
        ]
      }
    ]
  ],
  "plugins": [
    "fast-async",
    [
      "transform-es2015-modules-umd",
      {
        "globals": {
          "hypermask": "HyperMask"
        },
        "exactGlobals": true
      }
    ]
  ],
  "moduleId": "hypermask"
}